header {
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
}
  
a {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
}
  
a:hover {
  color: #0059ff;
  transition: .3s ease-in-out;
}